html{
    position:relative;
    min-height: 100%;
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    display: block;
    flex: 1 0 auto;
}
.uk-navbar-item .uk-button {padding: 0 7px !important;}
